body{
  font-family: Lucida, Helvetica, Arial, sans-serif;
}

.Kylie{
  width:100px;
  border-style:none;
  float: left;
  margin:0 5px 0 0;
}

#container{
  background-color: #99FFCC;

  width: 750px;
  margin:0 auto;
}

#main{
  background-color: #FFFFCC;
  width: 500px;
  float:left;
}

#sidebar{
  background-color: #FFCCCC;
  width: 200px;
  float: right;
}
