body{
  font-family: Lucida, Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #484848;
}

.Kylie{
  width:100px;
  border-style:none;
  float: left;
  margin:20px 5px;
}

h1{
  font-size: 25px;
  padding-top: 25px;
  font-family: Georgia,Times,serif;
}

#container{
  background-color: #99FFCC;

  width: 800px;
  margin:0 auto;
}

#main{
  /*background-color: #FFFFCC;*/
  width: 545px;
  float:left;
}

#sidebar{
  /*background-color: #FFCCCC;*/
  width: 100px;
  float: right;
}

#sidebar a:link {
  color: #993333;
}
#sidebar a:active, a:visited {
  color: #FF6666;
}

#sidebar a:hover{
  color: #FF9966;
}

#nav{
  list-style-type: none;
  margin:0;
  padding:0;
}
#nav li{
  float: left;
  /*this makes the links at the top horizontal for assingment*/
}

#nav a:link, #nav a:visited{
  font-weight: bold;
  color:#fff;
  background-color: #006666;
  display:block;
  width:100px;
  text-align: center;
  text-decoration: none;
  padding:2px 0;
  /* this makes the link have spaces and be individual items not smushed togehter*/
}

#nav a:hover{
  background-color: #009966;
}

#nav a:active{
  background-color: #00CC66;
}
